{% extends 'base.html.twig' %}

{% block title %}
	Qui sommes-nous?
{% endblock %}

{% block body %}
	<div class="bg-slate-200 justify-center">

		<div class=" mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
			<div class="flex flex-shrink-0 items-center justify-center">
				<a href="/">
					<img class="h-16 w-auto" src="{{ asset('img/aoimanga.png') }}" alt="aoi.gem">
				</a>
			</div>
			<div class="text-center">
				<p class="mt-1 text-4xl font-bold tracking-tight text-blue-600 sm:text-5xl lg:text-6xl">
					Madagascar et ses Pierres précieuses.
				</p>
				<p class="mx-auto mt-5 text-2xl text-blue-500">
					Madagascar est un pays riche en ressources naturelles, y compris de nombreuses pierres précieuses et fines.
				</p>
				<p class="mx-auto mt-5 text-xl text-gray-500">
					Ces pierres sont souvent utilisées dans la bijouterie, la joaillerie et la création de pièces d'artisanat. Madagascar est un important acteur sur le marché des gemmes, et les pierres précieuses extraites du pays sont appréciées pour leur beauté et leur diversité de couleurs.

				</p>
				<hr/>
				<p class="mx-auto mt-5 text-2xl text-blue-500 font-bold ">

					aoi.gem travaille avec Royalty's Gem qui achète ses produits auprès des petits et moyens exploitants.
				</p>

				<p class="border-y-4  mx-auto mt-5 text-2xl font-bold  text-gray-500">

					Il est important de noter que nous achetons et transformons nos pierres de manière responsable, durable et équitable pour préserver l'environnement
					<br/>
					et les exploitants.
				</p>


			</div>
		</div>
	</div>

{% endblock %}
{% block sary %}
{% endblock %}
