<!DOCTYPE html> 
<html lang="fr">
<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>
Document
</title> 
</head> 
<body> 
<p>TP 03</p>
<h1>La Florentina</h1>
<h3> Pizzéria</h3>
<ul>
<li><a href="#"> Accueil</a></li>
<li><a href="#"> Nos Pizzas</a></li>
<li><a href="#"> contact</a></li>
</ul>
<h3> A propos</h3>
<p>La Florentina a ouvert Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea tenetur dolorum ipsa vero,
</p>
<h3> Je suis un grand voyageur</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Temporibus officia quibusdam in tenetur possimus recusandae nesciunt provident, iusto perspiciatis blanditiis quas,<br> ipsa voluptate earum. Reiciendis 
<br/>mollitia aperiam architecto molestiae officia?
</p>

<p>Copyright La Florentina - tous droits réservés<br>
    <a href="#">Nous contacter</a>
</p>

<p></p>
<p>TP 04</p>

<table width =" 75%" border="1">
    <thead>
    <th width ="55%">
        Pays
    </th>
    <th width ="15%">Co2 (en Milliards de tonnes)</th>
    <th width ="15%">Co2 (en %)</th>
    <th width ="15%">en tonnes par hab.</th>
    </thead>
    <tbody>
    <tr>
      
        <td> <img src="https://flagsapi.com/CN/flat/16.png" alt ="Drapeau Chine" /> China</td>
        <td align="right">9.26</td>
        <td align="right">28.2</td>
        <td align="right">6.68</td>

    </tr>
    <tr>
        <td ><img  src="https://flagsapi.com/US/flat/16.png" alt ="Drapeau USA" /> Etats-Unis</td>
        <td align="right">4.76</td> 
        <td align="right">14.5</td>
        <td align="right">14.61</td>
    </tr>
    <tr>
     <td> <img src="https://flagsapi.com/IN/flat/16.png" alt ="Drapeau Inde"/> Inde</td>
     <td align="right">2.16</td>
        <td align="right">6.6</td>
        <td align="right">1.61</td>
    </tr>
    <tr>
     <td> <img  src="https://flagsapi.com/RU/flat/16.png" alt ="Drapeau Russie"/> Russie</td>
     <td align="right">6.68</td>
     <td align="right">14.61</td>
     <td align="right">10.64</td>
    </tr>
    </tbody>

</table>
</body> 
</html>