<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block menu %}
			<nav class="w-full bg-gray-800">
				<div class="mx-5 ">
					<div class="relative flex h-16 items-center justify-between">

						<div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
							<div class="flex flex-shrink-0 items-center">
								<a href="/">
									<img class="h-8 w-auto" src="{{ asset('img/aoimanga.png') }}" alt="aoi.gem">
								</a>
							</div>
							<div class="hidden sm:ml-6 sm:block">
								<div
									class="flex space-x-4">
									<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
									<a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Accueil
									</a>
									<a href="/precieuses" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Précieuses
									</a>
									<a href="/fines" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Fines
									</a>
									<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Ornementales
									</a>
									<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Industrielles
									</a>
									<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Bijoux
									</a>
									<a href="/nous" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
										Qui sommes nous ?

									</a>

								</div>
							</div>
						</div>
						<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
							<button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
								<span class="absolute -inset-1.5"></span>
								<p class="text-2xl">
									🎟
								</p>

							</button>

							<!-- Profile dropdown -->
							<div class="relative ml-3">
								<div>
									<button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
										<span class="absolute -inset-1.5"></span>
										<span class="sr-only">
											Open user menu
										</span>
										<p class="text-2xl">
											🛒
										</p>
									</button>
								</div>

								<!--
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								            Dropdown menu, show/hide based on menu state.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								            Entering: "transition ease-out duration-100"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								              From: "transform opacity-0 scale-95"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								              To: "transform opacity-100 scale-100"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								            Leaving: "transition ease-in duration-75"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								              From: "transform opacity-100 scale-100"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								              To: "transform opacity-0 scale-95"
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								          -->

							</div>
						</div>
					</div>
				</div>

				<!-- Mobile menu, show/hide based on menu state. -->
				<div class="sm:hidden" id="mobile-menu">
					<div
						class="space-y-1 px-2 pb-3 pt-2">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Accueil
						</a>
						<a href="/precieuses" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Précieuses
						</a>
						<a href="/fines" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Fines
						</a>
						<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Ornementales
						</a>
						<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Industrielles
						</a>
						<a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
							Bijoux
						</a>
						<a href="/nous" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
							Qui sommes nous ?

						</a>
					</div>
				</div>
			</nav>

		{% endblock %}
		{% block sary %}
			<div class="bg-slate-200 justify-center">
				<div class="w-full h-full ">
					<img src="{{ asset('img/vato.png') }}" alt="aoi.gem">
				</div>

			</div>
		{% endblock %}
		{% block body %}
		{% endblock %}

	</body>
</html>
